install/standalone-xmloperator/relaxng/mathml2/mml-pres-scripts-empty.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0">

<!-- Presentation layout schemata: empty elements for scripts -->

<define name="mml.pscreschema">
 <choice>
  <ref name="mml.mprescripts.qname"/>
  <ref name="mml.none.qname"/>
 </choice>
</define>

<define name="mml.mprescripts.qname">
 <element name="mprescripts">
  <empty/>
 </element>
</define>

<define name="mml.none.qname">
 <element name="none">
  <empty/>
 </element>
</define>

</grammar>
